.roundBorder10 {
	border-radius: 10px;
	background: gray;
}

.roundBorder50 {
	border-radius: 50px;
}

.edit {
	display: none;
}

.blackBorder {
	border: 1px solid black;
}

.width200 {
	width: 200px;
}

.padding10 {
	padding: 10px;
}

.margin10 {
	margin: 10px;
}
