@(message: String, adv: ae.motari.models.Advertisement)

@import ae.motari.models._
@import ae.motari._
@main(adv.title + " Details"){
<h2>@adv.title Details</h2>

<ul>
	<li>
		<p>
			Description:  @adv.description
		</p>
	</li>
	<li>
		<p>
			Images: <br/>  
			@adv.images.split(",").zipWithIndex.map {case (img, i) =>
				<img style="width: 70px;"src="@routes.Assets.at("images/advertisements/"+adv.id+"/"+img)" alt="@img" />
				
				@if((1+i) % 3 == 0){</br>}
			}
		</p>
		@slider("", adv.images.split(",").map{img => "images/advertisements/"+adv.id+"/"+img}.toList)
	</li>
	
</lu>
}

