@(message: String, data: List[Map[String, String]])

@display(list: List[Map[String, String]]) = {
  <p>Found: @data.size</p>
	
    <table class="table table-striped table-hover">
        @data.map { row =>
            <tr>
                <td> <img class="thumb" src="@(routes.Assets.at(row("imgSrc")))" /> </td>
                <td> 
                    <a href="@row("link")"> @row("title") </a> 
                </td>
                <td> @row("description") </td>
            </tr>
        }
    </table>
}

@if("full".equals(message)) {
  @main("Welcome to Motari") {
  	@display(data)	
  }  
} 

@if("mini".equals(message)) {
  @display(data)
}

