@(message: String, rooms: List[ae.motari.models.ShowRoom], advs: List[ae.motari.models.Advertisement])

@main("Welcome to Motari") {
	<div>
		<div class="search">
			<input type="text" id="search" class="search"/> 
			<input type="button" id="searchBtn" value="Search" />
		</div>
		<script>
			$('#searchBtn').click(function(e) {
				$('.searchResult').css('display', 'block')
				var searchQuery = $("#search").val();
			    $.ajax({
			    	type : "POST",
		            url : "/find/showRoom/" + searchQuery,
		            dataType : "text",
		            success: function(data){
						$('.showRoomResults').html(data)
					}
				})
			    $.ajax({
					type : "POST",
		            url : "/find/advertisement/" + searchQuery,
		            dataType : "text",
		            success: function(data){
						$('.advertisementResults').html(data)
					}
				})
				$('.results').css('display', 'block')
				$('.loading').css('display', 'none')
				
			    return false;
			});

			function getTagsFor(type){
				var reqUrl = "/gallery/"+type+"/mini";
				var selector = ".gallery_"+type
				$.ajax({
					type : 'GET',
		            url : reqUrl,
		            dataType : "text",
		            success : function(data) {
		                $(selector).html(data)
		            },
		            error : function(data) {
		                setError('Make call failed');
		            }
				});
			}
			
		</script>
		<div class="searchResult" style="display: none">
			<img class="loading" alt="loading" src="@routes.Assets.at("images/loading.gif")" />
			
			<table class="results table table-striped table-hover" style="display:none">
				<tr>
					<th colspan="2">Results</th>
				</tr>
				<tr>
					<th>Advertisements</th>
					<th>Show Rooms</th>
				</tr>
				<tr>
					<td class="advertisementResults">
						
					</td>
					<td class="showRoomResults">
					
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div>
		<h2>Recent Advertisements</h2>
		
		<div class="gallery gallery_adv">
			
		</div>
		<script>
			getTagsFor("adv");
		</script>
		
		<a href="/gallery/adv/full">View all</a>
	</div>
	</br>
	<hr>
	<div>
		<h2>New Show Rooms</h2>
		
		<div class="gallery gallery_room">
			
		</div>
		<script>
			getTagsFor("room");
		</script>
		<a href="/gallery/adv/full">View all</a>
	</div>
}
