@(message: String, rooms: List[ae.motari.models.ShowRoom], advs: List[ae.motari.models.Advertisement])

@main("Welcome to Motari") {
	<div class="row col-lg-12">
		<div class="col-lg-12">
			<input type="text" id="search" class="col-lg-10 input-sm"/> 
			<input type="button" id="searchBtn" value="Search" class="btn btn-primary btn-sm col-lg-2" />
		</div>
		<script>
			$('#searchBtn').click(function(e) {
				$('.searchResult').css('display', 'block')
				var searchQuery = $("#search").val();
			    $.ajax({
			    	type : "POST",
		            url : "/find/showRoom/" + searchQuery,
		            dataType : "text",
		            success: function(data){
						$('.showRoomResults').html(data)
					}
				})
			    $.ajax({
					type : "POST",
		            url : "/find/advertisement/" + searchQuery,
		            dataType : "text",
		            success: function(data){
						$('.advertisementResults').html(data)
					}
				})
				$('.results').css('display', 'block')
				$('.loading').css('display', 'none')
				
			    return false;
			});

			function getTagsFor(type){
				var reqUrl = "/"+type+"/recent";
				var selector = ".gallery_"+type
				$.ajax({
					type : 'GET',
		            url : reqUrl,
		            dataType : "text",
		            success : function(data) {
		                $(selector).html(data)
		            },
		            error : function(data) {
		                setError('Make call failed');
		            }
				});
			}
			
		</script>
    </div>
	<div class="row">
		<div class="searchResult col-lg-12" style="display: none">
			<img class="loading" alt="loading" src="@routes.Assets.at("images/loading.gif")" />
            <div class="col-lg-12"> &nbsp; <!-- Spacer --> </div>
			<div class="advertisementResults col-lg-12">
			</div>
		</div>
	</div>
	<div class="row col-lg-12">
		<h2 class="col-lg-12">Recent Advertisements</h2>
		
		<div class="gallery gallery_advertisement col-lg-12">
			
		</div>
		<script>
			getTagsFor("advertisement");
		</script>
		
        <div class="col-lg-12">
            <a href="/gallery/adv/full">View all</a>
        </div>
	</div>
	<div class="row col-lg-12">
		<h2 class="col-lg-12">New Show Rooms</h2>
		
		<div class="gallery gallery_showRoom col-lg-12">
			
		</div>
		<script>
			getTagsFor("showRoom");
		</script>

        <div class="col-lg-12">
            <a href="/gallery/room/full">View all</a>
        </div>
	</div>
}
