@(message: String, rooms: List[ae.motari.models.ShowRoom], advs: List[ae.motari.models.Advertisement])

@main("Welcome to Play") {
	<div>
		<div class="search">
			<input type="text" id="search" class="search"/> 
			<input type="button" id="searchBtn" value="Search" />
		</div>
		<script>
			$('#searchBtn').click(function(e) {
				$('.searchResult').css('display', 'block')
				var searchQuery = $("#search").val();
			    $.ajax({
			    	type : "POST",
		            url : "/find/showRoom/" + searchQuery,
		            dataType : "text",
		            success: function(data){
						$('.showRoomResults').html(data)
					}
				})
			    $.ajax({
					type : "POST",
		            url : "/find/advertisement/" + searchQuery,
		            dataType : "text",
		            success: function(data){
						$('.advertisementResults').html(data)
					}
				})
				$('.results').css('display', 'block')
				$('.loading').css('display', 'none')
				
			    return false;
			});
		</script>
		<div class="searchResult" style="display: none">
			<img class="loading" alt="loading" src="@routes.Assets.at("images/loading.gif")" />
			
			<table class="results table table-striped table-hover" style="display:none">
				<tr>
					<th colspan="2">Results</th>
				</tr>
				<tr>
					<th>Advertisements</th>
					<th>Show Rooms</th>
				</tr>
				<tr>
					<td class="advertisementResults">
						
					</td>
					<td class="showRoomResults">
					
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div>
		<h2>Recent Advertisements</h2>
		
		<!-- ul>
			@advs.map {ad => 
				<li>
					<a href="@ae.motari.controllers.routes.Application.advertisementDetails(ad.id)">@ad.title</a>
					<img style="width:70px" src="@routes.Assets.at("images/advertisements/"+ad.id+"/"+ad.thumbnail)" alt="@ad.title" />
				</li>
			}
		</ul -->
		
		<div class="gallery">
			
		</div>
		<script>
			$.ajax({
				type : 'GET',
	            url : "@ae.motari.controllers.routes.Application.getTagsForAdvetisements()",
	            dataType : "text",
	            success : function(data) {
	                $('.gallery').html(data)
	            },
	            error : function(data) {
	                setError('Make call failed');
	            }
			});
		</script>
		
		<a href="@ae.motari.controllers.routes.Application.todo">View all</a>
	</div>
	</br>
	<hr>
	<div>
		<h2>Show Rooms</h2>
		
		<ul>
		@rooms.map { r => 
			<li>
				<a href="@ae.motari.controllers.routes.Application.showRoomDetails(r.id)">@r.name</a>
				<img style="width:70px" src="@routes.Assets.at("images/cars/"+r.id+"/"+r.logo)" alt="@r.name" />
			</li>
		}	
		</ul>
		<a href="@ae.motari.controllers.routes.Application.todo">View all</a>
	</div>
}
