@(advertisementForm: play.data.Form[ae.motari.forms.AdvertisementForm], showRooms: List[ae.motari.models.ShowRoom], carTypes: List[ae.motari.models.CarType])

@import helper._

@main("New Advertisement") {

	<h1>Add an Advertisement</h1>
	
	@form(ae.motari.controllers.routes.Application.saveAdvertisement(), 'enctype -> "multipart/form-data"){
		@inputText(advertisementForm("title"), '_label -> "Title")
		@textarea( advertisementForm("description"), '_label -> "Description", 'row -> 3, 'col -> 30)
		@inputFile(advertisementForm("thumbnail"), '_label -> "Thumbnail")
		@inputFile(advertisementForm("images"), '_label -> "Images", 'multiple -> "multiple")
		<dl class=" " id="owner_field">
		    <dt>
		    	<label for="owner">owner</label>
		    </dt>
		    <dd>
		    	<select id="owner" name="owner">
		    		@showRooms.map { room => 
		    			<option value="@room.id">
		    				@room.name
		    			</option>
		    		}
		    	</select> 
			</dd>
		</dl>
		@inputText(advertisementForm("price"), '_label -> "Price")
		@inputText(advertisementForm("manufacturer"), '_label -> "Manufacturer")
		@inputText(advertisementForm("model"), '_label -> "Model")
		@inputText(advertisementForm("yearMade"), '_label -> "Year of Made")
		@select(advertisementForm("type"), carTypes.map{c => (c.name,c.name)}.toSeq, 'label -> "Car Type")
		<div class="actions">
	        <input type="submit" value="Add new Advertisement" class="btn primary"> or 
	        <a href="@ae.motari.controllers.routes.Application.index()" class="btn">Cancel</a> 
	    </div>
	}    
}
