@(message: String, rooms: List[ShowRoom], advs: List[Advertisement])

@main("Welcome to Play") {
	<div>
		<input type="text" id="search" class="search"/> <input type="button" id="searchBtn" value="Search" />
		<script>
			$('#searchBtn').click(function(e) {
			    var searchQuery = $("#search").val();
			    myJsRoutes.controllers.Application.searchShowRoom(searchQuery).ajax({
					success: function(data){
						$('.showRoomResults').html(data)
					}
				})
			    myJsRoutes.controllers.Application.searchAdvertisement(searchQuery).ajax({
					success: function(data){
						$('.advertisementResults').html(data)
					}
				})
			    return false;
			});
		</script>
		<div class="searchResult">
			<table>
				<tr>
					<th colspan="2">Results</th>
				</tr>
				<tr>
					<th>Advertisements</th>
					<th>Show Rooms</th>
				</tr>
				<tr>
					<td class="advertisementResults">
						
					</td>
					<td class="showRoomResults">
					
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div>
		<h2>Recent Advertisements</h2>
		
		<ul>
			@advs.map {ad => 
				<li>
					<a href="@routes.Application.advertisementDetails(ad.id)">@ad.title</a>
					<img style="width:70px" src="@routes.Assets.at("images/advertisements/"+ad.id+"/"+ad.thumbnail)" alt="@ad.title" />
				</li>
			}
		</ul>
		<a href="@routes.Application.todo">View all</a>
	</div>
	</br>
	<hr>
	<div>
		<h2>Show Rooms</h2>
		
		<ul>
		@rooms.map { r => 
			<li>
				<a href="@routes.Application.showRoomDetails(r.id)">@r.name</a><img style="width:70px" src="@routes.Assets.at("images/cars/"+r.id+"/"+r.logo)" alt="@r.name" />
			</li>
		}	
		</ul>
		<a href="@routes.Application.todo">View all</a>
	</div>
}
