@(message: String, rooms: List[ShowRoom], advs: List[Advertisement])

@main("Welcome to Play") {
	<div>
		<h2>Recent Advertisements</h2>
		
		<ul>
			@advs.map {ad => 
				<li>
					@ad.title
					<img style="width:70px" src="@routes.Assets.at("images/advertisements/"+ad.id+"/"+ad.thumbnail)" alt="@ad.title" />
				</li>
			}
		</ul>
		<a href="@routes.Application.todo">View all</a>
	</div>
	</br>
	<hr>
	<div>
		<h2>Show Rooms</h2>
		
		<ul>
		@rooms.map { r => 
			<li>
				<a href="@routes.Application.showRoomDetails(r.id)">@r.name</a><img style="width:70px" src="@routes.Assets.at("images/cars/"+r.id+"/"+r.logo)" alt="@r.name" />
			</li>
		}	
		</ul>
		<a href="@routes.Application.todo">View all</a>
	</div>
}
