@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src='@routes.Application.javascriptRoutes()'></script>
    </head>
    <body>
		<div>
			<a href="@routes.Application.index" >Home</a> |
			<a href="@routes.Application.todo" >Advertisements</a> |
			<a href="@routes.Application.todo" >Show Rooms</a> |
			<a href="@routes.Application.newAdvertisement" >New Advertisement</a> |		
			<a href="@routes.Application.newShowRoom" >New Show Room</a> |		
		</div>
        @content

    </body>
</html>
