@(advertisementForm: Form[forms.AdvertisementForm], showRooms: List[ShowRoom])

@import helper._

@main("New Advertisement") {

	<h1>Add an Advertisement</h1>
	
	@form(routes.Application.saveAdvertisement(), 'enctype -> "multipart/form-data"){
		@inputText(advertisementForm("title"), '_label -> "Title")
		@textarea( advertisementForm("description"), '_label -> "Description", 'row -> 3, 'col -> 30)
		@inputFile(advertisementForm("thumbnail"), '_label -> "Thumbnail")
		@inputFile(advertisementForm("images"), '_label -> "images", 'multiple -> "multiple")
		<dl class=" " id="owner_field">
		    <dt>
		    	<label for="owner">owner</label>
		    </dt>
		    <dd>
		    	<select id="owner" name="owner">
		    		@showRooms.map { room => 
		    			<option value="@room.id">
		    				@room.name
		    			</option>
		    		}
		    	</select> 
			</dd>
		</dl>
		
		<div class="actions">
	        <input type="submit" value="Add new Show Room" class="btn primary"> or 
	        <a href="@routes.Application.index()" class="btn">Cancel</a> 
	    </div>
	}    
}
